body {
  background: url(./Background.avif);
  background-size: cover;
}

#mainBox {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #1e293b;
  height: 500px;
  width: 500px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 0 rgba(30, 41, 59, 0.3);
}


#formHeading {
  color: #0f172a; 
  text-align: center;
}


.formField {
  margin: 20px;
}
.formField label {
  color: #1d4ed8; 
  font-size: medium;
}
.formField input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #60a5fa; 
  outline-color: #3b82f6; 
}


#loginForm {
  width: fit-content;
  margin: 10px auto;
}

#formControl {
  text-align: center;
}
#formControl button {
  background-color: #64748b;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}


#cancelButton {
  border: 1px solid #be123c; 
  background-color: #ef4444; 
  color: #f8fafc; 
}


#loginButton {
  border: 1px solid #1d4ed8; 
  background-color: #2563eb;
  color: #f8fafc;
}


#cancelButton:hover {
  color: #ef4444;
  background-color: #f8fafc;
}

#loginButton:hover {
  color: #2563eb;
  background-color: #f8fafc;
}


#cancelButton:active {
  background-color: #0f172a;
  color: #f8fafc;
}

#loginButton:active {
  background-color: #0f172a;
  color: #f8fafc;
}
