h2 {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 1px solid black;
  background-color: blue;
  animation: animation2 10s;
  /* margin: 0px; */
}

@keyframes animation2 {
  0% {
    top: 0px;
    left: 0px;
    background-color: blueviolet;
  }

  25% {
    top: 0px;
    left: 500px;
    background-color: brown;
  }

  50% {
    top: 500px;
    left: 500px;
    background-color: aquamarine;
    transform: rotateZ(350deg);
    transition: transform 2s;
  }
  75% {
    top: 500px;
    left: 0px;
    background-color: black;
    transform: rotateX(360deg);
    transition: transform 2s;
  }
  100% {
    top: 0px;
    left: 0px;
    background-color: blueviolet;
     transform: rotateX(360deg);
  transition: transform 2s;
  }
}
