#outer {
  padding: 10px;
  margin: 50px;
  height: 500px;
  width: auto;
  border: 1px solid black;
}

#inner {
  padding: 10px;
  margin: 50px;
  height: 400px;
  width: auto;
  border: 1px solid black;
}
